@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');






#main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#main_container >h1{
  font-family: 'Roboto Mono', monospace;
  padding: 5vmin;
  font-size: 2.5vmax;
  font-weight: 500;

}

#main_container >h1>span{
  color: rgb(255, 0, 0);
  font-weight: bolder;
  border-bottom: 5px solid red;

}

table {
  min-width: 70vw;
  font-size: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.addnewproductBtn {
  margin: 100px 0;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: rebeccapurple;
  border-radius: 5px;
  color: wheat;
  z-index: 10;
  cursor: pointer;
}

.form_Container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

/* #form1 start #form1 here */
#form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: formborder 5s ease-in-out infinite;
  min-width: 360px;
  max-width: 500px;
  height: 75vh;
  display: none;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  position: relative;
  

}


.closeBtn {
  display: none;
  color: red;
  scale: 2;
  cursor: pointer;
  align-self: flex-start;
}

#form1>input {
  margin: 10px 0;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: 100%;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* For Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#form1>input:focus {
  border: 1px solid red;
}

#form1>button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: rgb(209, 209, 209);
  border-radius: 5px;
  color: rgb(168, 168, 168);
  z-index: 10;
  cursor: pointer;
  left: 50%;
  top: 95%;
  position: absolute;
  transform: translate(-50%,-87%);
  /* margin: 130px 50%; */
  /* transform: translateX(-50%); */
}

#lebel1{
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%,-60%);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(207, 205, 205);
  font-size: 20px;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;

}

/* CSS to hide the "Choose File" input */
input[type="file"] {
  display: none;
}

td,
th {
  width: 280px;
  max-width: 280px;
  white-space: nowrap;      /* Prevent text from wrapping */
  overflow: hidden;         /* Hide any overflowing content */
  text-overflow: ellipsis;  /* Display an ellipsis (...) when text overflows */
  /* adjust as needed */
  /* border: 1px solid red; */
  text-align: center;
  height: 100px;
  /* adjust as needed */
  font-family: 'Roboto Mono', monospace;
}

table {
  table-layout: fixed;
  width: 700px;
  /* adjust as needed */
  /* background-color: rebeccapurple; */
}


/*edit and delete operations */

.editIcon{
  scale: 1.3;
  cursor: pointer;
}

.deleteIcon{
  scale: 1.3;
  cursor: pointer;
}

.editIcon:hover{
  color: red;
}


.deleteIcon:hover{
  color: red;
}




@media screen and (max-width: 748px) {
  table {
    font-size: 3.2vw;
    width: 500px;
    /* adjust as needed */
  }

  #form1 {

    min-width: 350px;
    max-width: 350px;

  }
}

@media screen and (max-width: 508px) {
  table {
    /* font-size: 2.8vw; */
    width: 360px;
    /* adjust as needed */
  }

  td>img {
    width: 70px;
  }

  #form1 {

    min-width: 300px;
    max-width: 300px;

  }
}



/* ------------------animations */

@keyframes formborder{
  0% {
    box-shadow: 0px 0px 1000px 1px rgb(212, 212, 212);

  }

  25% {
    box-shadow: 0px 0px 1000px 1px rgb(248, 223, 223);

  }

  50% {
    box-shadow: 0px 0px 1000px 1px rgb(202, 243, 222);

  }

  100% {
    box-shadow: 0px 0px 1000px 1px rgb(212, 213, 252);

  }
}